.dropdownSelect {
  background-color: initial;
  border: none;
  font-size: 20px;
  font-weight: 800;
  color: var(--primary);
}

.dropdownLabel {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
}

/* Dark theme styles */
[data-theme="dark"] .dropdownSelect {
  color: mediumpurple;
}

/* media queries for smaller screens */
@media (max-width: 768px) {
  .dropdownLabel {
    flex-direction: column;
    align-content: flex-start;
  }
}
