.perlinNoiseTitle {
  text-align: center;
  font-size: var(--header-font-size-large); /* Todo: move to a css variable */
  margin: 16px 0;
}

.underConstructionContainer {
  text-align: center;
  font-size: 2rem;
  margin: 16px 0;
}
