.footerContainer {
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: flex-end;
  justify-content: end;
  padding: 16px 16px;
  background-color: var(--primary);
}

.iconContainer {
  display: inline-block;
  overflow: hidden;
  color: var(--background);
}

.iconContainer:hover {
  scale: 1.2;
}

[data-theme="dark"] .iconContainer {
  color: var(--foreground);
}

.icon {
  margin-top: 1.5rem;
}

.footerText {
  color: var(--background);
  font-size: 2rem;
}

[data-theme="dark"] .footerText {
  color: var(--foreground);
}

/* Mobile-specific styles */
@media (max-width: 768px) {
    .footerText {
        font-size: 1.5rem;
    }
}
