.horizontalFlexBox {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: space-between;
  padding: 16px 16px;
  background-color: var(--secondary);
  margin-bottom: var(--content-seperator-height);
}

.navFlexBox {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
}

.navLink {
  color: var(--background);
  font-size: 1.5rem;
  font-weight: bold;
  padding: 4px;
}

.navLink:hover {
  scale: 1.2;
}

[data-theme="dark"] .navLink {
  color: var(--foreground);
}
