.introductionContainer {
  display: flex;
  flex-direction: row;
  gap: 16px;
  padding: 16px;
  margin: 16px 0;
}

.introductionText {
  font-size: 2rem;
}

.introductionTitle {
  font-size: 2.5rem;
}

.horizontalFlexBox {
  display: flex;
  flex-direction: column;
}
